@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Simple tool to convert and edit entries from Lua format to Manifest format. This will work for any 3D engine that uses a Manifest to cache it's sounds!</p>
