@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<br />
<br />
<br />
<br />
<address>
    <strong>Email:</strong>   <a href="mailto:dylan.rangel@ndsu.edu">dylan.rangel@ndsu.edu</a><br />
</address>